%p#notice= notice

%p
  %b #{t('tasks.form.name')}:
  = @task.name
%p
  %b #{t('tasks.form.description')}:
  = @task.description
%p
  %b #{t('tasks.form.due_date')}:
  = @task.due_date
%p
  %b #{t('tasks.form.category')}:
  = @task.category

.notes_container
  .notes
    - @task.notes.each do |note|
      = render 'tasks/notes/note.html.haml', note: note
  = simple_form_for Note.new, url: task_notes_path(task_id: @task.id), remote: true do |f|
    = f.input :body, label: false, as: :string, placeholder: 'Enter your note', input_html: { autocomplete: :off }

= link_to t('common.edit'), edit_task_path(@task)
\|
= link_to t('common.back'), tasks_path
